<%- include('partial/header')  %>

<%- include('banner') %>

<div class="container-fluid">
    <div class="row py-2 px-3">

        <!-- -- DATASETS CONTAIN [{hero_id: 92,hero_name: 'Uranus',hero_role: 'Tank',hero_specially: 'Regen,Poke'},{..}] --- -->
        <% datasets.forEach((data,index) => { %>
        <div class="col-lg-2 col-md-3 px-2 py-3" data-aos="fade-right" data-aos-delay="100">
            <div class="card">

                <a href=" #" data-bs-toggle="modal" data-bs-target="#hero"><img class="img-fluid w-100 detail-hero"
                        src="images/<%= data.hero_name %>.jpg" alt="<%= data.hero_name %>"
                        data-heroid="<%= data.hero_id %>">
                </a>
                <ul class=" list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Hero name : <%= data.hero_name %> </p>
                    </li>
                    <li class="list-group-item">
                        <p>Role : <%= data.hero_role %> </p>
                    </li>
                    <li class="list-group-item">
                        <p>Specialization : <%= data.hero_specially %></p>
                    </li>
                </ul>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('footer_section') %>

<%- include('modal') %>

<%- include('partial/footer') %>